@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-rbg: 10, 23, 37;
    --foreground-rgb: 255, 255, 255;
    --highlight-rgb: 21, 31, 46;
    --header-rgb: 21, 34, 50;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
