@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rbg: 10, 23, 37;
    --foreground-rgb: 255, 255, 255;
    --highlight-rgb: 21, 31, 46;
  }
}

body {
  background-color: rgb(var(--background-rbg));
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}
