@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background-rbg: 10, 23, 37;
    --foreground-rgb: 255, 255, 255;
    --highlight-rgb: 21, 31, 46;
    --header-rgb: 21, 34, 50;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body, html {
  overflow-x: hidden;
  position: relative;
}

.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 1000px;
}

.hero-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      90deg,
      rgba(15, 23, 42, 1) 0%,
      rgba(15, 23, 42, 0.986) 5%,
      rgba(15, 23, 42, 0) 20%,
      rgba(15, 23, 42, 0) 80%,
      rgba(15, 23, 42, 0.986) 95%,
      rgba(15, 23, 42) 100%
    ),
    linear-gradient(
      0deg,
      rgba(15, 23, 42, 1) 0%,
      rgba(15, 23, 42, 1) 10%,
      rgba(15, 23, 42, 0) 30%,
      rgba(15, 23, 42, 0) 70%,
      rgba(15, 23, 42, 0) 90%,
      rgba(15, 23, 42, 0) 100%
    );
  z-index: 0;
}
